[Unit]
Description=RailDisha Map Backend
After=network.target postgresql.service

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/raildisha-map/server
Environment="PATH=/home/ubuntu/raildisha-map/server/venv/bin"
Environment="PYTHONPATH=/home/ubuntu/raildisha-map/server"
ExecStart=/home/ubuntu/raildisha-map/server/venv/bin/python -m src.main
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target 